@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #FEFBF3;
}

.box {
    position: absolute;
    width: 60px;
    height: 50px;
    background: #420516;
}

.bar {
    background: #E63E6D;
    border-radius: 3px;
    left: 10px;
}

.bar1 {
    position: absolute;
    width: 40px;
    height: 7px;
    top: 8px;
}

.bar2{
    position: absolute;
    width: 30px;
    height: 7px;
    top: 22px;
}

.bar3{
    position: absolute;
    width: 20px;
    height: 7px;
    top: 36px;
}

.txtP{
    font-family: 'Roboto Slab', serif;
}

.logo {
    position: absolute;
    width: 240px;
    height: 50px;
    left: 70px;
    font-size: 2.3em;
    line-height: 50px;
}

.grocery{
    position: absolute;
    width: 68vw;
    height: 280px;
    left: 30vw;
    top: 70px;
}

.text{
    position: absolute;
    width: 25vw;
    height: 200px;
    top: 100px;
    left: 1vw;
    font-size: 3em;
    text-align: right;
}

#stl{
    color: #E63E6D;
}